<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.220819.143251" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.220819.143032" targetFramework="net481" />
  <package id="AE.Net.Mail" version="1.7.7816.38666" targetFramework="net48" />
  <package id="AWSSDK.CodeCommit" version="3.7.100.33" targetFramework="net481" />
  <package id="AWSSDK.Core" version="3.7.102.1" targetFramework="net481" />
  <package id="Ben.Demystifier" version="0.4.1" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.6.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.25.1" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.25.1" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="6.25.1" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.25.1" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundationServer.Client" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundationServer.ExtendedClient" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="16.170.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.220731.182834" targetFramework="net48" />
  <package id="nilnul._acc_._LINQ_" version="1.1.220731.182834" targetFramework="net48" />
  <package id="nilnul._app_._LIB_" version="1.1.220729.93739" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.221129.150825" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.221104.132532" targetFramework="net481" />
  <package id="nilnul._comm_._LIB_" version="1.0.7827.34092" targetFramework="net48" />
  <package id="nilnul._fs_._LIB_" version="2.1.221209.141242" targetFramework="net481" />
  <package id="nilnul._human_._LIB_" version="1.1.220725.151533" targetFramework="net48" />
  <package id="nilnul._human_._LINQ_" version="1.1.220725.150847" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.220826.15831" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.220825.155237" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.221126.72816" targetFramework="net481" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.221212.85512" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.220817.152548" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.220905.140119" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.221120.114651" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.221129.160511" targetFramework="net481" />
  <package id="nilnul._web_._LIB_" version="1.1.221029.95602" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.221212.74225" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220905.105721" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.220926.131208" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.220818.53104" targetFramework="net481" />
  <package id="Octokit" version="4.0.1" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net481" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.25.1" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>